
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/open-sans-v23-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v23-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/open-sans-v23-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v23-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/open-sans-v23-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v23-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/open-sans-v23-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-v23-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-sans-pro-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-600 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/source-sans-pro-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

/* Header styles start */

.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index:100000;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 19px;
    margin-top: 10px;
    margin-bottom: 0;
}

.header_item:last-child{
    margin-right: 7px;
    margin-left: 223px;
    margin-bottom: 10px;
}
.number{
    color: #3F3D56;
    position: absolute;
    width: 163px;
    height: 20px;
    left: 1010px;
    top: 34%;


    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
}

.header_logo{
    margin-right: 10px;
    margin-top: 9px;
    margin-bottom: 18px;
}

.header_link{
    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.header_item:nth-child(1),.header_item:nth-child(2),
.header_item:nth-child(3),.header_item:nth-child(4){
    margin-top: 20px;
}

.header_link:hover, .header_link:focus, .header_link:active{
    text-decoration: underline;
}

/* Header styles end */

/* Intro styles start */

.intro{
    height: 100vh;
    background-size: cover;
    padding-top: 110px;
}

.intro_title{
    position: absolute;
    width: 736px;
    height: 25px;
    left: 140px;
    top: 110px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 24px;
}

.intro_sub_line{
    position: relative;
    width: 200px;
    height: 10px;
    left: 0;
    top: -7px;
}

.intro_subtitle{
    margin-top: 130px;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 40px;
}

.intro_second_subtitle{
    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}

.intro_second_title{
    margin-top: 320px;
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    line-height: 24px;
}
.intro_image{
    position: absolute;
    width: 732px;
    height: 727px;
    left: 710px;
    top: 56px;
}
.third_title{
    position: absolute;
    width: 448px;
    height: 77px;
    left: 158px;
    top: 850px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

.f_title{
    position: absolute;
    width: 455px;
    height: 150px;
    left: 158px;
    top: 967px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.intro_line{
    position: absolute;
    width: 200px;
    height: 0;
    left: 158px;
    top: 954px;
}


.intro_image2{
    position: absolute;
    width: 564px;
    height: 272.96px;
    left: 790px;
    top: 842px;
}

.inf_card_wrap{
    max-width: 1086px;
    position: relative;
    margin: 0 auto;
}

.inf_cards{
    margin-top: 485px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
}
.line_border{
    position: absolute;
    top: 100px;
    left: 20px;
}

.min_img{
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 20px;
}

.inf_card-el{
    position: absolute;
    margin-left: 87px;
    top: -40px;
    left:0;
    z-index: 99;
}

.card{
    position: relative;
    z-index: 98;
}

.img_1{
    margin-top: 2px;
    margin-left: 4px;
}

.img_2{
    margin-top: 3px;
    margin-left: -1px;
}

.img_4{
    margin-left: -6px;
}

.inf_card-title1{
    position: absolute;
    top: 48px;
    left: 46px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.inf_card-title2{
    position: absolute;
    top: 60px;
    left: 80px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.inf_card-title3{
    position: absolute;
    top: 60px;
    left: 75px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.inf_card-title4{
    position: absolute;
    top: 60px;
    left: 22px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.inf_card-desc{
    position: absolute;
    top: 110px;
    left: 5px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.inf_card_desc2{
    position: absolute;
    top: 110px;
    left: 30px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.offer_title{
    position: relative;
    color: #3F3D56;
    margin-top: 120px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
    text-align: center;
}

.business_card_wrap{
    max-width: 1079px;
    position: relative;
    margin: 0 auto;
}

.business_cards{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.point{
    position: relative;
    margin-left: 120px;
}

.business_title{
    position: absolute;
    top: 39px;
    left: 33px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
}

.picture{
    position: absolute;
    left: 200px;
    top: 40px;
}

.white_thing{
    position: absolute;
    left: 299px;
    top: 70px;

}

.pic2{
    position: relative;
}

.pic1 {
    position: relative;
    left: 36px;
    top: -30px;
}
.pic{
    position: relative;
    left: 5px;
    top: 20px;
}

.round{
    position: absolute;
    top: 230px;
    left: 40px;
}

.bl_arrow{
    position: absolute;
    top: 244px;
    left: 57px;
}

.script{
    position: relative;
    top: 120px;
    text-align: center;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
}

.lower_expenses{
    position: relative;
    margin-left: 790px;
    margin-top: 180px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.green_frame{
    position: relative;
    margin-left: 360px;
    margin-top: -36px;
}

.income{
    position: relative;
    margin-left: 385px;
    margin-top: -36px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.giving{
    position: relative;
    text-align: center;
    margin-top: 73px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

.education_card_wrap{
    max-width: 1079px;
    position: relative;
    margin: auto;
}


.education_cards{
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.education_title{
    position: absolute;
    width: 463px;
    height: 30px;
    left: 30px;
    top: 0;

    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
}

.education_subt{
    position: absolute;
    width: 513px;
    height: 187px;
    left: 30px;
    top: 70px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.pre-order_title{
    position: absolute;
    width: 463px;
    height: 30px;
    left: 600px;
    top: 400px;

    font-family: Source Sans Pro, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
}

.pre-order_subt{
    position: absolute;
    width: 525px;
    height: 150px;
    left: 600px;
    top: 465px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.order_btn1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;

    position: absolute;
    width: 275px;
    height: 63px;
    left: 0;
    top: 260px;
}

.order_btn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;

    position: absolute;
    width: 275px;
    height: 63px;
    left: 570px;
    top: 665px;
}

.income15{
    position: absolute;
    width: 525px;
    height: 355px;
    left: 590px;
    top: -45px;
}

.mobiles{
    position: absolute;
    width: 525px;
    height: 355px;
    left: -20px;
    top: 365px;
}

/* Список О кассе Видео Характеристики */

.cash_register{
    position: absolute;
    left: 27%;
    top: 3671px;
}

.register_title{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.register_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3px;
}

.register_list{
    display: flex;
    flex-wrap: wrap;
}

.register_link{
    font-family: Open Sans, serif;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
    text-decoration: none;
}

.register_item:nth-child(2),.register_item:nth-child(3){
    margin-left: 76px;
}

.register_item:nth-child(1),.register_item:nth-child(2),
.register_item:nth-child(3){
    margin-top: 12%;
}
.register_link:hover, .register_link:focus, .register_link:active{
    background-size: cover;
    background-image: url("../img/svg/Rectangle 13581.svg");
    background-repeat: no-repeat;
}

/* Конец списка */

.video_btn_text{
    color: black;
    position: absolute;
    width: 110px;
    height: 20px;
    left: 606px;
    top: 3873px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.characteristics_btn_text{
    color: black;
    position: absolute;
    width: 110px;
    height: 20px;
    left: 900px;
    top: 3873px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
}

.cash_register_name{
    position: absolute;
    width: 387px;
    height: 45px;
    left: 200px;
    top: 3993px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
}


.choose_title{
    position: relative;
    text-align: center;
    top: 1835px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 24px;
}


/* Список О кассе Видео Характеристики */

.choose_thing{
    position: absolute;
    top: 4700px;
    left: 20%;
}

.choose_title{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    top: -30px;
}

.about_buying_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3px;
}

.about_buying_list{
    display: flex;
    flex-wrap: wrap;
}

.about_buying_link{
    font-family: Open Sans, serif;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 20px;
    text-decoration: none;
}

.about_buying_item:nth-child(2),.about_buying_item:nth-child(3){
    margin-left: 76px;
}

.about_buying_item:nth-child(1),.about_buying_item:nth-child(2),
.about_buying_item:nth-child(3){
    margin-top: 12%;
}
.about_buying_item:hover, .about_buying_item:focus, .about_buying_item:active{
    background-size: cover;
    background-image: url("../img/svg/Rectangle 13581.svg");
    background-repeat: no-repeat;
}

.solution_text{
    position: relative;
    text-align: center;
    width: 930px;
    height: 60px;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

/* Конец списка */







.perfect_solution_title{
    position: absolute;
    width: 463px;
    height: 30px;
    left: 200px;
    top: 4100px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}

.perfect_solution_subt{
    position: absolute;
    width: 625px;
    height: 150px;
    left: 200px;
    top: 4250px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.perfect_solution_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 32px;

    position: absolute;
    width: 275px;
    height: 63px;
    left: 172px;
    top: 4520px;
}

.education_line{
    position: absolute;
    width: 200px;
    height: 0;
    left: 30px;
    top: 50px;
}
.pre_order_line{
    position: absolute;
    width: 200px;
    height: 0;
    left: 602px;
    top: 450px;
}
.solution_line{
    position: absolute;
    width: 200px;
    height: 0;
    left: 199px;
    top: 4216px;
}

.register_pic{
    position: absolute;
    left: 812px;
    top: 4060px;;
}
.register_white_pic{
    position: absolute;
    left: 942px;
    top: 4120px;
}
.register_example_pic{
    position: absolute;
    left: 890px;
    top: 4180px;
}

.price{
    position: absolute;
    left: 1000px;
    top: 4547px;

    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 20px;
}
.price_pic{
    position: absolute;
    left: 1160px;
    top: 4540px;
}

.register_button{
    position: absolute;
    width: 553px;
    height: 70px;
    left: 0px;
    top: 5000px;
}

.first_script_button{
    position: relative;
    width: 553px;
    height: 70px;
    left: 200px;
    top: 2200px;
}


.script_title1{
    position: absolute;
    width: 38px;
    height: 25px;
    left: 0px;
    top: -25px;

    color:  #898989;;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}


.second_script_button{
    position: relative;
    width: 553px;
    height: 70px;
    left: 200px;
    top: 2250px;
}

.script_title2{
    position: absolute;
    left: 0px;
    top: -28px;

    color:  #898989;;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.third_script_button{
    position: relative;
    width: 553px;
    height: 70px;
    left: 200px;
    top: 2300px;
}

.script_title3{
    position: absolute;
    left: 0px;
    top: -28px;

    color:  #898989;;
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

